{{define "content"}}
<div class="center-container">
    <div class="center-box">
        {{if .secret}}
        <pre class="content">
            <code>
                {{.secret}}
            </code>
        </pre>
        <p><cite>This message can only be viewed once.</cite></p>
        {{else}}
        <h1>Here's your link:</h1>
        <pre>
            <code>
                {{.link}}
            </code>
         </pre>
        <p>
            <br>
            <small>ABOVE LINK CAN ONLY BE VIEWED ONCE.</small>
        </p>
        {{end}}
    </div>
</div>
{{end}}

